.button-search{
   display: flex;
   align-items: center;
   justify-content: center;
   background: none;
   
   gap: 1rem;
   border: none;
   cursor: pointer;
   z-index: 910;
}

.button-search p{
   color: rgba(255, 255, 255, 0.7);
   font-size: 1.1rem;
}

.button-search svg{
   stroke: rgba(255, 255, 255, 0.7);
   fill: rgba(255, 255, 255, 0.7);
   width: 2rem;
   height: 1.8rem;
   stroke-width: 0.5;
}

.button-search:hover svg{
   stroke: white;
   fill: white;
}

.button-search:hover p{
   color: white;
}

.container{
   display: none;
   position: absolute;
   background: rgba(0, 0, 0, 0.8);

   top: 0%;
   right: 0;
   width: 100%;
   height: 100vh;
   z-index: 900;

   animation: dropdown .5s ease;
}

.search-active{
   display: block;
}

@keyframes dropdown {
   from{
      opacity: 0;
   }to{
      opacity: 1;
   }
}

.content-wrapper{
   width: 50%;
   margin: 3rem auto 0;
}

.form-bar{
   position: relative;
   margin: 0 auto;
}

.open-search-bar{
   width: 100%;
   animation: expand-bar .8s ease;
   -webkit-animation: expand-bar .8s ease;
}

@keyframes expand-bar {
   from{
      width: 20%;
   }to{
      width: 100%;
   }
}

.label-search{
   display: flex;
   align-items: center;
   position: absolute;
   top: 0;
   left: 1rem;
   z-index: 999;
   height: 100%;
}

.label-search svg{
   width: 1.5rem;
   stroke-width: 0;
}

.form-bar input{
   color: white;
   border: 2px solid rgba(220, 220, 220);
   outline: none;
   width: 100%;
   font-size: 1.1rem;
   padding-left: 3.5rem;
   border-radius: 6px;
   background: black;
   height: 2.6rem;
}

.form-bar input::placeholder{
   color: rgba(255, 255, 255, 0.5);
   font-weight: 300;
}

.form-bar input:focus{
   outline: 1px solid white;
}

.loading-bar{
   position: relative;
   height: 0.2rem;
   width: 100%;
   margin: 0.5rem 0;
   overflow: hidden;
}

.loading-bar div{
   position: absolute;
   left: 0%;
   width: 40%;
   height: 100%;
   padding: 1% 0;
   background: rgb(25, 200, 25);
   box-shadow: 0px 0px 10px rgb(0, 200, 0);
   animation: loading-animation 1s linear infinite;
}

@keyframes loading-animation {
   from{
      left: -20%;
   }to{
      left: 100%;
   }
}

.suggestion-results::-webkit-scrollbar-thumb {
   background: rgba(20, 200, 20);
}

.suggestion-results::-webkit-scrollbar {
   width: 3px;
}

.suggestion-results{
   display: flex;
   flex-direction: column;
   width: 100%;
   color: white;
   min-height: 25vh;
   max-height: 75vh;
   margin-top: 0.5rem;
   background: rgba(10, 10, 10);
   overflow-y: scroll;
   border: 2px solid rgba(255, 255, 255, 0.2);
   z-index: 80;
   border-radius: 6px;
}

.suggestion-item{
   display: flex;
   border-radius: 4px;
   gap: 4%;
   padding: 1.5% 4%;
   border: 2px solid transparent;
   transition: border .2s ease;
}

.suggestion-item:hover{
   background-color: rgba(24, 24, 24);
}

.suggestion-item:active{
   border-color: white;
}

.suggestion-item h3{
   font-size: 1rem;
   font-weight: 500;
   margin: 0.6rem 0;
}

.suggestion-poster{
   position: relative;

   width: 3.5rem;
   height: 4rem;
}

.suggestion-poster img{
   border-radius: 4px;
}

.suggestion-descriptions{
   width: 100%;
}

.description-footer{
   display: flex;
   color: rgba(255, 255, 255, 0.5);
   font-size: 0.9rem;
   font-weight: 500;
   gap: 5%;
}

.empty-results{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 6px;
   height: 25vh;
   font-weight: 500;
   font-size: 1.2rem;
   padding: 0 2rem;
   color: white;
   background: rgb(10, 10, 10);
}

.empty-results span{
   color: rgb(0, 200, 0);
   word-break: break-all;
}

@media screen and (max-width: 960px) {
   .content-wrapper{
      width: 70%;
   }

   .button-search p{
      color: white;
   }

   .button-search svg{
      stroke: white;
      fill: white;
   }
}

@media (max-width: 600px){
   .button-search p{
      display: none;
   }

   .content-wrapper{
      width: 90%;
   }
}

@media screen and (max-width: 480px) {
   .button-search svg{
      width: 1.8rem;
   }
}